
.section-contact {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.section-contact .content {
  max-width: 700px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.link-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.section-contact a {
    text-decoration: none;
    font-weight: bold;
    color: #D5451B;
}

.section-contact a:hover {
    text-decoration: underline;
}

.profile-pic {
  width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}