

.contact-section {
    padding: 4rem 2rem;
    margin-top: 50rem;
    text-align: center;
}

.contact-section a {
    text-decoration: none;
    font-weight: bold;
}

.contact-section a:hover {
    text-decoration: underline;
}