
/* Main area */
.app-main {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-top: 230px;
}

.section.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}



/* Options columns */
.options {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.option {
    cursor: pointer;
    opacity: 50%;
    font-weight: normal;
    transition: all 0.2s ease;
}

.option:hover:not(.is--active) {
    opacity: 90%;
}

.option.is--active {
    font-weight: bold;
    opacity: 1;
}

/* Hide all text blocks by default */
.text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show selected text block */
.text.is--visible {
    display: block;
    opacity: 1;
}

/* Skjul alle seksjoner */
.app-main section {
    display: none;
}

/* Vis aktiv seksjon */
.app-main section.is--visible {
    display: block;
}