
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  margin: 0;
  background-color: #FBF6E9;
  
}

/* Main area */
.app-main {
    padding-left: 220px;
    padding-top: 230px;
}

/* Hide all sections */
.app-main section {
    display: none; 
}

/* Show active section*/
.app-main section.is--visible {
    display: block;
}
.code-link {
    text-decoration: none;
    color: #D5451B !important;
}

.code-link:hover {
    text-decoration: underline;
}